.Home {
    height: 200vh;
}
#logo span {
    display: flex;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.7rem;
    color: #9326a8cc;
}
#logo h1{
    display: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8rem;
    color: #9326a8cc;
  }
.about{
    width: auto;
}
.button {
    visibility: hidden
}
.button-container {

grid-template-columns: repeat(4,1fr);

}
.Btn {
    width: 10vh;
}
#navbar{
   width: max-content;
}
.card-container {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
