@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0%;
  border-radius: 0%;
  box-sizing: border-box;
}
body {
  transition: background-color 0.5s ease;
}
#Home{
  position: relative;
  top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  

}
#logo span {
  display: none;
}
#logo {
  font-family: "IBM Plex Mono", monospace;

  font-size: 1.4rem;
  color: #9326a8cc;
  transform: uppercase;
}
#navbar {
  text-decoration: none;
  z-index: 1000; /* Z-index alto para garantir que esteja sempre acima dos outros elementos */
transition: top 0.5s;
  width: 100%;
  height: 90px;
  position: fixed;
  font-family: "Merriweather Sans", sans-serif;
}
#navbar-container {
  color: #9326a8cc;
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-items a {
  font-family: "Merriweather Sans", sans-serif;
  text-decoration: none;
  color: #9326a8cc;
  padding: 10px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* When you change the amount of characters in the h1, you have to change 
the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
if there is 20 put 20 */
.animation {
  font: bold 200% Consolas, Monaco, monospace;
  margin-bottom: 20px;
  border-right: .1em solid black;
  width: 13.20ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 5s steps(13, end),
	           blink-caret .5s step-end infinite alternate;
}
/* === removing default button style ===*/
.button {
  margin: 20px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
.one-div {
  
  display: flex; 
  align-items: center;
  box-sizing: border-box;
  font-size: 10px;
  width: 20em;
  height: 25em;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6a5acd, #6a5acd),
    repeating-linear-gradient(
      to bottom,
      #48d1cc,
      #48d1cc 0.1em,
      #6a5acd 0.1em,
      #6a5acd 0.4em,
      transparent 0.4em,
      transparent 0.9em
    ),
    linear-gradient(#6acd 40%, #48cc),
    radial-gradient(circle, #48d1cc 30%, rgba(72, 209, 204, 0) 31%),
    radial-gradient(circle, #7fffd4 50%, rgba(127, 255, 212, 0) 51%),
    linear-gradient(#41cc, #d1cc),
    linear-gradient(60deg, transparent 40%, #483d8b 41%),
    linear-gradient(-60deg, transparent 40%, #483d8b 41%),
    linear-gradient(to right, #48d1cc 0.1em, #483d8b 0.1em),
    linear-gradient(to bottom, #231e44 30%, #c71585);
  background-size: calc(100% - 0.4em) 2em, calc(100% - 0.6em) 6em, 0.1em 20em,
    1.1em 1.1em, 10em 10em, 5em 0.1em, 3.5em 2em, 3.5em 2em, 0.4em 5em,
    100% 100%;
  background-position: 50% 0.2em, 50% 2.7em, 1.1em 0.2em, 0.6em 19em, 80% 18%,
    right 3.8em bottom 2em, right 6em bottom 0, right 3em bottom 0,
    right 6em bottom 0, 0 0;
  border: 0.1em solid #48d1cc;
  border-top-color: #6a5acd;
  box-shadow: 0 0 0 0.8em #483d8b, 0 0 0 0.9em #6a5acd;
}

.one-div::before {
  width: 24em;
  height: 2em;
  background-color: #483d8b;
  border: 0.1em solid #6a5acd;
  border-top-color: #54c8c4;
  box-shadow: 0 1.4em 0 -0.8em #483d8b, 0 1.4em 0 -0.7em #6a5acd;
}

.one-div::after {
  background-color: #483d8b;
  border-radius: 2em 0;
  border-top: 0.1em solid #1d2d2d;
}

.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #7289da;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}
#github .BG  {
  background: #181818;
}
#linkedin .BG  {
  background: #0077b5;
}
#spotify .BG  {
  background: #141414;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(206, 206, 206, 0.466);
  background-color: rgba(214, 214, 214, 0.466);
  backdrop-filter: blur(4px);
}
.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Ajuste conforme necessário */
}
.card {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  width: 320px;
  height: 350px;
  padding: 20px;
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin: 50px;
}

.card .main-content {
  flex: 1;
}

.card .header span:first-child {
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.card .heading {
  font-size: 24px;
  margin: 24px 0 16px;
  font-weight: 600;
}

.card .categories {
  display: flex;
  gap: 8px;
}

.card .categories span {
  background-color: #e81cff;
  padding: 4px 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 50em;
}

.card .footer {
  font-weight: 600;
  color: #717171;
}

.card:hover {
  rotate: 8deg;
}
.card-container {
  
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3,1fr);
  
}
.sumir {
  visibility: hidden;
}
#about h1 {
  display: flex;
  padding: 100px;
  font-size: 3.5rem;
  font-family: "Merriweather Sans", sans-serif;
}
#about {
align-items: center;
  background-color: #080606;
  height: 120vh;
  align-items: center;
  color: #9326a8cc;
}
#about-container {
  width: 100%;
  display: flex;
  align-items: center;
flex-direction: row;
}
#texts {
  position: relative;
  left: 400px;
  width: 300px;
}
#foto img{
  position: relative;
  left: 150px;
  display: flex;
  border-radius: 50%;
  position: relative;
  align-items: center;
}
/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .moon {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .moon {
  display: none;
}

.container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}
#formation-title {
  color: #9326a8cc;
  display: flex;
  padding: 100px;
  font-size: 3.5rem;
  font-family: "Merriweather Sans", sans-serif;
}
#formation
{
  display: flex;
height: 200vh;
flex-direction: column;
}
#formation-container{
  padding: 80px;
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;

}
#form-img img{
height: 300px;
}
#form-text
{
  color: #9326a8cc;
  font-size: 1.5rem;
width: 500px;
}
#contact {
  height: 300px;
  width: 100%;
}
#contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#textos {
  display: flex;
  flex-direction: column;
}
#textos h3{
  color:#9326a8cc;
  display: flex;
  padding: 10px;
}